* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
:root {
  --bg-color: #080808;
  --second-bg-color: #001005;
  --text-color: white;
  --main-color: #00ff51;
}
body{
  background-color: var(--bg-color);
  color: var(--text-color);
}
.header {
  position:fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  padding: 4rem 12%;
  /*top bottom*/
  background-color: rgba(103, 109, 104, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
   /*so header remains at top nmw*/

}

#menu-icon{
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}
.logo{
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}
.logo:hover{
  transform: scale(1.1);
}
span{
  color: var(--main-color);
}
.navbar a{
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: 0.3 ease;
}
.navbar a:hover{
  border-bottom: 3px solid var(--main-color);
  color: var(--main-color);
}
section{
  min-height: 100vh;
  padding: 10rem 12%;

}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25rem;
}
.home-content{
  display: flex;
  flex-direction:column;
  align-items:flex-end;
  text-align: right;

}
.home-content element{
  font-size: 13px;
}
.home-content h1{
  font-size: 8rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
  width: 600px;
}
.home-content h3{
  font-size: 4rem;
  margin: 1rem 0;
}
.home-content p{
  font-size: 1.5rem;
  font-weight: 500; 
  line-height: 1.8;  
}
  
.home-img img{
  width: 30vw;  
  border-radius: 50%;
  box-shadow: 0 0  25px rgb(135, 223, 135);
  transition: 0.4s ease-in-out;
}
  
.home-img img:hover{
box-shadow: 0 0 25px rgb(135, 223, 135),
            0 0 50px var(--main-color),
            0 0 100px var(--main-color);
  
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%; 
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease;
  
}
  
.social-icons a:hover{
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2)translateY(-5px);
  /* scale->bigger__ translateY--> go up on y axis by 5px*/
  box-shadow: 0 0 25px var(--main-color)
}
.btn-group{
  display: flex;
  gap: 1.5rem;
}
.btn{
  display: inline-flex;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out ;
  
}
.btn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color); 
}
.btn-group a:nth-last-of-type(2)/*for second button of same family*/ {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;

}
.btn-group a:nth-last-of-type(2):hover{
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color:black ;
}
#element{
color: white;
font-size: 6rem;
font-weight: 700;
font-style: italic;
text-shadow: 0 0 25px  #00ff51;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background-color: var(--second-bg-color);
}
.about-img img{
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;

}
.about-img img:hover{
  box-shadow: 0 0 25px rgb(135, 223, 135),
            0 0 50px var(--main-color),
            0 0 100px var(--main-color);
  
}
.about-content h2{
  font-size: 7rem;
  text-align: left;
}
.about-content h3{
  font-size: 2rem;
  color: white;
}
.about-content p{
  font-size: 1.8rem;
}
.about-content .btn{
  margin: 3rem 0;
}
/*scroll*/
::-webkit-scrollbar{
  width: 13px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
::-webkit-scrollbar-track{
  background-color: rgba(103, 109, 104, 0.3) ;
}
#jo{
  font-size: 20px;
  color: white;
}
.resume{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
  font-weight: 700;
  font-style: italic;
  text-shadow: 0 0 25px  rgb(240, 233, 219);

}
#r1{
  font-size: 16px;
}
/*
.l1 h1{
  font-size: 27px;

}
.l1 p{
  font-size: 17px;
}
.l1{
  background-color: rgb(46, 49, 49);
  height: 400px;
  width: 300px;
}
.r1{
  background-color: rgb(255, 51, 0);
  height: 300px;
  width: 500px;
}*/
.bttn{
  color: white;
  background-color: rgba(0, 0, 0, 0.3) ;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  font-size: 1.8rem;
  border-radius: 3rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out ;
  margin: auto;
}
.bttn a{
  color: #001005;
}
.bttn:hover{
  background-color: rgba(103, 109, 104, 0.3);
  color: #00ff51;
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color); 
}
.heading {
  font-size: 7rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline-section{
  background: var(--second-bg-color);
  padding: 100px 15px;
}
.timeline-section h2{
  margin-bottom: 5rem;
}
.timeline-items{
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before{
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left:calc(50% - 1px);
}
.timeline-item{
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child{
  margin-bottom: 0;
}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
}
.timeline-dot{
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top:10px;
}
.timeline-data{
  font-size:20px;
  font-weight: 800;
  color:white;
  margin: 6px 0 15px;
}
.timeline-content{
  background-color: var(--second-bg-color);
  backdrop-filter: blur(20px);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
  padding: 30px;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.timeline-content:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3{
  font-size: 20px;
  color: var(--main--color);
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 800;
}   
.timeline-content p{
  color: white;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px ;
}
/*project*/
.pro-sec{
  padding-left: 4%;
}
.pro-sec p{
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.project-section {
  display: flex;
}
.box{
  border: 2px solid black;
  height: 510px;
  width: 40%; 
  background-color: black; 
  border: 2px solid blanchedalmond;
  padding: 20px 5px 15px; 
}
.box-img{
  height: 200px; 
  width: 400px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom:1rem ;
  transition: 1s;  
}
.box-img:hover{
  transform: scale(1.2);
  z-index: 1;
  box-shadow: 0 0 10px var(--main-color);
  border: 2px solid var(--main-color);
}

.box-content p {
  color: #007185;
}
.box-content h3{
  font-size: 25px;
  color: #00ff51;
}
.box-content h4{
  font-size: 15px;
  color: rgb(109, 107, 107);
}
.box1-box video{
  margin-top: 10%;
}
#pic{
  margin-top: 10%;
}
/*con*/
.contact{
  background-color: var(--bg-color);
}
.contact h2{
  margin-bottom: 3rem; 
}
.contact form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box{
display:flex;
flex-wrap: wrap;
justify-content: center;
}
.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 1.5rem;
  border-radius: 2rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  margin: 1rem 0;
  resize: none;
}
.contact form .btn{
  margin-top: 2rem;
}
.footer{

  padding: 40px 0;
  background-color: var(--second-bg-color);
}
.footer .social-icons{
  text-align: center;
  /*padding-bottom: 25px;
  color: white;
  height: 42px ;
  width: 42px;
  border: 2px solid var(--main-color);
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease;
  justify-content: center;*/
}
.footer .social-icons a:hover{
  transform: scale(1.2) translate(-10px);
  background-color: var(--main-color) ;
  color: var(--text-color);
  box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
  font-size: 18px;
  text-align: center;
}
.footer ul li a{
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
  border-bottom: 3px solid var(--main-color);

}
.footer ul li{
  display: inline-block;
  margin-left: 20px;
}
.footer .copyright{
  color: white;
  margin-top: 50px;
  text-align: center;
  font-size: 11px;
}
/*respnsiveness*/
/*@media(max-width:1200px){
  html{
    font-size: 55%;
  }
  .project-container{
    padding-bottom: 7rem;
    grid-template-columns: repeat(1,1fr);
    margin: 0 5rem;
  }
}
@media(max-width:1000px){
  header{
    padding: 2rem 3%;
  } 
  section{
    padding: 10rem 3% 2rem ;
  }
  .footer{
    padding: 2rem 3% ;
  }
}*/

 
@media(max-width:1024px){
  #menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-left: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    border-bottom-left-radius: 2rem;
    display: none;
  }
  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }
  .navbar.active{
    display: block;
    
  }
  .home{
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
  }
  .home-content{

    align-items: center;
    text-align: right;
  }
  /*#element{
    flex-direction:row-reverse;
    text-align:center;
    font-size: 26px;
  }
  .btn-group{
    flex-direction:row;
    align-items:left;
  }
  .social-icons{
    flex-direction:column;
    text-align:center;
  }*/

  .home-content h1{
    font-size: 2.6rem;
    align-items:center ;
    justify-content: center;
    display: flex;
  }
  .home-img img{
    width: 52vw;
    /*margin-top: 4rem;*/
  }
  .about{
    flex-direction: column-reverse;
    text-align: center;
  }
  .about h2{
    text-align: center;
    margin: 2rem 0;
  }
  .about img{
    width: 52vw;
  }
  .timeline-items::before{
    left: 7px;
  }
  .timeline-item:nth-child(odd){
    padding-right: 0;
    text-align: center;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even){
    padding-left: 37px;
  }
  .timeline-dot{
    left: 0;
  }
  #project.pro-sec{
    display: block;
    flex-wrap: wrap;
    flex-direction:row;
  }
  .pro-sec h2{
    margin-bottom: 3rem;
  }
  .contact form{
    flex-direction: column;
  }
}
